

<form action="/square/results">
<div>
<label for ='zebra'>Enter a number</label>
</div>
<div>
<input id = 'zebra' type = "text" name ="users_number" placeholder="What number do you want to sqaure?"></div>
<div><button >Calculate square</button></div>
</form>
